<!-- <ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>   <ion-list>   

<ion-item>     
<ion-label floating>Username</ion-label>     
<ion-input type="text"></ion-input>   
</ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <button ion-button full>Log In</button>

  <button ion-item *ngFor="let item of basic" (click)="itemSelected(item)">  		
  	{{item}}
  </button>

</ion-list>
</ion-content>

-->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        Dashboard
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="refresh()"><ion-icon name="refresh"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
  <ion-item-sliding *ngFor="let item of bundle">
    <ion-item text-wrap>{{item.text}}</ion-item>
    <ion-item-options side="right">
      <button ion-button (click)="complete(item)">Complete!</button>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
